.projectContainer{
    margin-right: 20rem;
}

.project-section{
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    left: 16rem;
    right: 0;
    position: absolute;
}
.pcard-section{
    display:grid; 
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.8rem; 
}
.projects h2{
    margin: 20px 0;
    font-size: 2.5rem;
}
.profile-card-4 {
    max-width: 350px;
    background-color: #FFF;
    border-radius: 15px;
    /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    position: relative;
    margin: 7px auto;
    cursor: pointer;
    box-shadow: 0 10px 10px 0 #565a59;

}

.profile-card-4 img {
    transition: all 0.25s linear;
    max-height: 12rem;
    max-width: fit-content;
}

.profile-card-4 .profile-content {
    position: relative;
    padding: 15px;
    background-color: #FFF;
}

.profile-card-4 .profile-name {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -70px;
    color: #FFF;
    font-size: 17px;
}

.profile-card-4 .profile-name p {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.profile-card-4 .profile-description {
    color: #777;
    font-size: 12px;
    padding: 10px;
}

.profile-card-4 .profile-overview {
    padding: 15px 0px;
}

.profile-card-4 .profile-overview p {
    font-size: 10px;
    font-weight: 600;
    color: #777;
}

.profile-card-4 .profile-overview h4 {
    color: #273751;
    font-weight: bold;
}

.profile-card-4 .profile-content::before {
    content: "";
    position: absolute;
    height: 20px;
    top: -10px;
    left: 0px;
    right: 0px;
    background-color: #FFF;
    z-index: 0;
}
#p-btn{
   /* padding: 10px;  */
   width: 100px;
   height: fit-content;
   font-weight: 700;
   font-size: 1.3em;
   background-color: #24866E;
   border-radius: 15px;
}
.technologies h3{
    margin-top: 3rem;
    font-size: 2.5rem;
}
.tech-icons {
    margin-top: 1rem;
    display: flex;
    color: #000;
}
.group1{
    width:30rem;
    height: 25rem;
    background-color: white;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* margin-left: 1rem; */
    box-shadow: 0 10px 10px 0 #565a59;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em; 
}
.group2{
    width: 30rem;
    height: 25rem;
    background-color: white;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2em;
    box-shadow: 0 10px 10px 0 #565a59;
    /* grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em;  */
}
#tech h4{
    text-align: center;
}
.tailwind{
    width: 5.5rem;
    margin-left: 5rem;
}
#tech1{
    position: relative;
    left: 20%;
}
#tech1 h4{
    margin-left: 2rem;
}
.stacks h3{
    margin-top: 3rem;
    font-size: 2.5rem; 
}
.progressContainer{
    width: 50rem;
    height: 27em;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: 0 10px 10px 0 #565a59;   
}
.p1{
    width: 80%;
    height: 2.5rem;
    background-color: #ccc;
    border-radius: 10px;
    /* margin-top: 8rem; 
    margin-left: 2rem; */
    position: relative;
    top: 3rem;
    left: 3rem;
    bottom: 6rem;
}
.filled1{
    width: 85%;
    height: 100%;
    background-color: #24866E;
    border-radius: 10px;
    font-weight: 900;
    font-size: x-large;
    color: #FFF;
}
.filled2{
    margin-top: 5rem;
    width: 70%;
    height: 100%;
    background-color: #24866E;
    border-radius: 10px;
    font-weight: 900;
    font-size: x-large;
    color: #FFF;
}
.filled3{
    margin-top: 5rem;
    width: 90%;
    height: 100%;
    background-color: #24866E;
    border-radius: 10px;
    font-weight: 900;
    font-size: x-large;
    color: #FFF;
}
.text1{
    position: relative;
    bottom: 3rem;
}
@media screen and (max-width:900px) {
    .project-section{
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 30px;
        left: 2rem;
        right: 0;
        position: relative;
        justify-content: space-around;

    } 
    .pcard-section{
        display:grid; 
        width: 100%;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5em;   
    }
    .profile-card-4 {
        max-width: 260px;
        background-color: #FFF;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        margin: 7px 5px;
        cursor: pointer;
        justify-content: space-around;
    }
}
@media screen and (max-width: 750px) {
    .project-section{
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 30px;
        left: 2rem;
        right: 0;
        position: absolute;
    } 
    .pcard-section{
        display:grid; 
        width: 100%;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        /* grid-gap: 0.2rem;    */
    }
    .profile-card-4 {
        max-width: 250px;
        background-color: #FFF;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        margin: 10px auto;
        cursor: pointer;
    }
      #tech{
        margin-left: -2.5em;
    }
    .group1{
        width:20rem;
        height: 25rem;
        background-color: white;
        border-radius: 10px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        box-shadow: 0 10px 10px 0 #565a59;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5em; 
    }
    .group2{
        width: 20rem;
        height: 25rem;
        background-color: white;
        border-radius: 10px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 2em;
        box-shadow: 0 10px 10px 0 #565a59;
        /* grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5em;  */
    }
    #tech h4{
        margin-left: 1rem;
        font-size: large;
    }
    .tailwind{
        width: 5rem;
        margin-left: 5rem;
    }
    .progressContainer{
        width: 40rem;
        height: 25em;
        background-color: whitesmoke;
        border-radius: 10px;
        margin-top: 3rem;
        margin-bottom: 3rem;
        box-shadow: 0 30px 60px 0 #7c807f; 
    }
    .p1{
        width: 80%;
        height: 2rem;
        background-color: #ccc;
        border-radius: 10px;
        /* margin-top: 8rem; 
        margin-left: 2rem; */
        position: relative;
        top: 3rem;
        left: 3rem;
        bottom: 6rem;
    }
    .text1{
        position: relative;
        bottom: 3rem;
    }
}
@media screen and (max-width: 580px) {
    .project-section{
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 30px;
        left: 1rem;
        right: 0;
        position: absolute;
    } 
    .pcard-section{
        display:grid; 
        width: 100%;
        margin: 0 auto;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0.2rem;   
    }
    .profile-card-4 {
        max-width: 280px;
        background-color: #FFF;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        margin: 10px auto;
        cursor: pointer;
    }
    #tech{
        margin-left: -2.5em;
    }
    .tech-icons {
        /* margin-top: 1rem; */
        display: grid;
        margin-left: 3rem;
    }
    .group1{
        width:20rem;
        height: 25rem;
        background-color: white;
        border-radius: 10px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        box-shadow: 0 10px 10px 0 #565a59;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5em; 
    }
    .group2{
        width: 20rem;
        height: 25rem;
        background-color: white;
        border-radius: 10px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 0.5em;
        box-shadow: 0 10px 10px 0 #565a59;
        /* grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5em;  */
    }
    #tech h4{
        margin-left: 1rem;
        font-size: large;
    }
    .tailwind{
        width: 4rem;
        margin-left: 4rem;
    }
    .progressContainer{
        width: 30rem;
        height: 27em;
        background-color: whitesmoke;
        border-radius: 10px;
        margin-top: 3rem;
        margin-bottom: 3rem;
        box-shadow: 0 10px 10px 0 #565a59;
        margin-left: 2rem;
        
    }
    .p1 h3{
        font-size: 1.8rem;
    }
}