.main-page{
    margin-top: 10rem;
    height: fit-content;
    /* margin-left: 10rem; */
}
#type-animation{
    margin-left:16rem ;
    vertical-align: middle;
}
.homeContainer p{
    margin-left: 16rem;
    font-size: 1.5em;
    width: 65%;
    max-height: fit-content;
}
.home-btn{
    /* padding: 15px; */
    width: 8rem;
    font-size: 1.1em;
    font-weight: 900;
    background-color: #24866E;
    border-radius: 15px ;
}
.home-btn:hover{
    background-color: transparent;
    /* color: #FFFF; */
}
#email-link{
    font-weight: 900;
    color: rgb(88, 82, 82);
}
#email-link:hover{
    color: #24866E;
}
#figma-link{
    color: black;
    font-weight: 900;
}
#figma-link:hover{
    color: #24866E;
}
.contact-icons {
    margin-left: 20rem;
}
#icons{
    padding: 20px;
    font-size: 3rem;
}
#icons:hover{
    transform: scale(1.5);
}
.home-arrow{
    padding-top: 20px;
    margin-left: 20rem;
    font-size: 2.5em;
    font-weight: 900;
}
#arrow{
    color: black;
    position: relative;
    left: 10px;
}
#arrow:hover{
    transform: scale(1.5);
}
@media screen and (max-width:1200px) {
    .main-page{
        margin-top: 5rem;
        margin-left: 80px;
        width: 90%;
    }
    .homeContainer h1{
        font-size: 2.5rem;
    }
    .homeContainer p{
        margin-left: 0px;
        font-size: 1.6rem;
        width: 90%;
    }
    #type-animation{
        margin-left: 0px;
        vertical-align: middle;
        font-size: 2rem;
    }
    .contact-icons {
        margin-left: 0rem;
    }
    #icons{
        padding: 15px;
        font-size: 2rem;
    }
    .home-arrow{
        padding-top: 10px;
        margin-left: 0rem;
        font-size: 1.5em;
        font-weight: 700;
    }
    #arrow{
        color: black;
        position: relative;
        left: 10px;
        font-size: 1.5em;
    }
}
@media screen and (max-width: 750px) {
    .homeContainer h1{
        font-size: 2.5rem;
    }
    .homeContainer p{
        margin-left: 0px;
        font-size: 1.2rem;
        width: 90%;
    }
}
@media screen and (max-width:900px) {
    .main-page{
        margin-top: 5rem;
        margin-left: 40px;
        width: 90%;
    }
    .homeContainer h1{
        font-size: 2.5rem;
    }
    .homeContainer p{
        margin-left: 0px;
        font-size: 1.4rem;
        width: 90%;
    }
    #type-animation{
        margin-left: 0px;
        vertical-align: middle;
        font-size: 1.5rem;
    }
    .contact-icons {
        margin-left: 0rem;
    }
    #icons{
        padding: 15px;
        font-size: 2rem;
    }
    .home-arrow{
        padding-top: 10px;
        margin-left: 0rem;
        font-size: 1.5em;
        font-weight: 700;
    }
    #arrow{
        color: black;
        position: relative;
        left: 10px;
        font-size: 1.5em;
    }
}
@media screen and (max-width: 750px) {
    .homeContainer h1{
        font-size: 2.5rem;
    }
    .homeContainer p{
        margin-left: 0px;
        font-size: 1.2rem;
        width: 90%;
    }
}

@media screen and (max-width: 580px) {
    .main-page{
        margin-top: 5rem;
        margin-left: 20px;
        width: 90%;
    }
    .homeContainer h1{
        font-size: 1.5rem;
    }
    .homeContainer p{
        margin-left: 0px;
        font-size: 1.2rem;
        width: 90%;
    }
    #type-animation{
        margin-left: 0px;
        vertical-align: middle;
        font-size: 1.4rem;
    }
    .contact-icons {
        margin-left: 0rem;
    }
    #icons{
        padding: 15px;
        font-size: 2rem;
    }
    .home-arrow{
        padding-top: 10px;
        margin-left: 0rem;
        font-size: 1.5em;
        font-weight: 700;
    }
    #arrow{
        color: black;
        position: relative;
        left: 10px;
        font-size: 1.5em;
    }
}